{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% endblock %}

{% block header %}
    <header id="master-header" class="full-screen overlayed">
        {% include 'inc/base_header.html' %}

        <h2 id="page-title"><span>Запись на сеанс</span></h2>
    </header>
{% endblock %}


{% block content %}
<div class="row" style="margin-bottom: 50px; margin-top: 50px">
<div class="col-md-6 offset-md-3">
    <form method="POST" class="contact-form row">
        {% csrf_token %}
        {{ form|crispy }}
        <hr>
        {% if request.user.is_authenticated %}
            <button type="submit" class="btn btn-outline-dark">Записаться</button>
        {% else %}
            <p class="text-center">Авторизуйтесь, чтобы записаться на сеанс!</p>
        {% endif %}

    </form>
</div>

</div>
{% endblock %}