{% load static %}

<footer class="dark">
    <div class="container">
        <div class="row">
            <div class="footer-col col-md-4 col-sm-6">
                <h3 class="focus-title">О нас</h3>
                <p><img width="200" class="align-center" src="{% static 'img/logo.png' %}" alt="THE TATTOOIST - Tattoo Studio"></p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet facilis iusto quam, nisi
                    voluptates minima. Nihil quasi dolore odio nulla sequi, ipsum placeat distinctio vero neque
                    maxime, et reprehenderit asperiores.
                </p>
            </div>

            <div class="footer-col col-md-4 col-sm-6">

                <h3 class="focus-title"><i class="fa fa-clock-o"></i>Время работы</h3>
                <dl class="working-days">
                    <dt>Понедельник</dt>
                    <dd>10:00 - 19:00</dd>
                    <dt>Вторник</dt>
                    <dd>10:00 - 19:00</dd>
                    <dt>Среда</dt>
                    <dd>10:00 - 19:00</dd>
                    <dt>Четверг</dt>
                    <dd>10:00 - 19:00</dd>
                    <dt>Пятница</dt>
                    <dd>10:00 - 19:00</dd>
                    <dt>Суббота</dt>
                    <dd>10:00 - 19:00</dd>
                    <dt>Воскресенье</dt>
                    <dd>ЗАКРЫТО</dd>
                </dl>

            </div>

            <div class="footer-col footer-contacts col-md-4 col-sm-12">

                <div class="contact-item"><span>Тату-студия Якорь</span> <strong>Какой то адрес</strong></div>
                <div class="contact-item"><span>Телефон:</span> <strong>+7999999999</strong></div>
                <div class="contact-item"><span>Email:</span> <strong>email@gmail.com</strong></div>
                <div class="contact-item">
                    <span>Подпишитесь на нас в:</span>
                    <ul class="social-links">
                        <li><a title="Вконтакте" href="https://vk.com/tattoomayaksimferopol"><i class="fa fa-vk"></i></a></li>
                        <li><a title="Instagram" href="index-video.html#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>

            </div>

        </div>

    </div>
</footer>