{% load static %}

    <div class="bg-overlay"></div>
    <div id="media-container">
        <video id="video-background" preload="auto" loop="loop" muted="muted">
        <source src="{% static 'video/video.mp4' %}" type="video/mp4">

        </video>
    </div>

    <div class="top-header">
        <div class="container">
            <!-- ============ Верхнее меню - НАЧАЛО ============ -->
            <a id="nav-toggle" href="#"><span></span></a>
            <nav id="nav-menu">
                <ul>
                    <li>
                        <a title="About Us 1 Page" href="{% url 'about' %}">О нас</a>
                    </li>
                    <li>
                        <a title="Portfolio" href="{% url 'blog' %}">Блог</a>
                    </li>
                    <li>
                        <a title="Journal" href="{% url 'all_master' %}">Мастера</a>
                    </li>
                    <li>
                        <a title="Contacts Page" href="{% url 'contact' %}">Контакты</a>
                    </li>
                    <li><a title="Contacts Page" href="{% url 'works' %}" >Работы мастеров</a></li>

                    {% if not request.user.is_authenticated %}
                        <li>
                            <a title="Contacts Page" href="{% url 'login' %}">Авторизация</a>
                        </li>

                        <li>
                            <a title="Contacts Page" href="{% url 'registration' %}">Регистрация</a>
                        </li>
                    {% else %}
                        {% if request.user.is_authenticated %}
                            Здравствуйте
                            {{ request.user.username }}
                        {% endif %}
                    <li><a href="{% url 'logout' %}">| Выйти</a></li>
                    {% endif %}
                </ul>
            </nav>
            <!-- ============ Верхнее меню - КОНЕЦ ============ -->
        </div>
    </div>

    <div id="brand">
        <h1 id="logo"><img src="{% static 'img/logo-big.png' %}" alt="Маяк - Тату коллектив"></h1>
    </div>
