{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

    <div id="service" class="section">

        <div class="content container">
            <div class="row">
                {% for item in categories %}
                <div class="col-md-4 bg-glyph pen">
                    <h3>{{ item.name }}</h3>
                    <p>{{ item.content }}</p>
                </div>
                {% endfor %}

            </div>

        </div>

    </div>

    <section id="appointment" class="section cta dark">

        <h2>Вы готовы сделать татуировку?</h2>

        <div class="cta-info">Запишитесь на прием <strong>СЕЙЧАС!</strong></div>

        <a class="btn md light" href="appointment.html"><i class="fa fa-thumb-tack"></i>Записаться</a>

    </section>

    <a class="instagram-bar" href="#">Посмотреть работы в <strong>Instagram</strong>!</a>

{% endblock %}