{% extends 'base.html' %}
{% load static %}

{% block title %} Тату-студия Якорь :: Мастера {% endblock %}

{% block header %}
    <header id="master-header" class="full-screen overlayed">
        {% include 'inc/base_header.html' %}
        <h2 id="page-title"><span>Мастера</span></h2>
    </header>
{% endblock %}


{% block content %}
<div class="section">
    <div class="content container">
        <div class="row">
            {% for item in masters %}
            <div class="card" style="width: 17rem;">
              <img src="{{ item.image.url }}" class="card-img-top">
              <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                         <p class="card-text">{{ item.positions }}</p>

              </div>
                <a href="{{ item.get_absolute_url }}" class="btn btn-outline-dark block">Перейти</a>
            </div>
            {% endfor %}
         </div>
    </div>
</div>
{% endblock %}



