{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block header %}
    <header id="master-header" class="full-screen overlayed">
        {% include 'inc/base_header.html' %}
        <h2 id="page-title"><span>{{ master.name }}</span></h2>
    </header>
{% endblock %}

{% block content %}
<div class="section">
    <div class="content container">
        <div class="full row">
            <div class="col-md-6">
                <p><strong>Привет меня зовут {{ master.name }}</strong><br>{{ master.about_master }}</p>
                <h4>Ищи меня тут</h4>
                <ul class="social-links">
                    <li><a href="{{ master.vk_link }}"><i class="fa fa-vk"></i></a></li>
                    <li><a href="{{ master.inst_link }}"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
             <div class="col-md-6">
                <img src="{{ master.image.url }}" alt="Patrick Tattoomaker">

            </div>
            <a href="{% url 'works_master' master.id %}" class="btn btn-outline-dark block">
                Посмотреть все работы
            </a>
        </div>
    </div>
</div>

<section id="latest-works" class="section">
    <div class="section-title bg-glyph diamond center">
        <h2>Последнии работы</h2>
    </div>
    <div class="content container">
        <div class="works">
            {% for item in last_works %}
            <div class="work col-md-2 col-sm-6">
                <div class="work-thumb">
                    <img src="{{ item.image.url }}">
                    <div class="thumb-links">
                        <a class="zoom" href="{{ item.image.url }}"></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}