{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Восстановление пароля{% endblock %}

{% block header %}
    <header id="master-header" class="full-screen overlayed">
        {% include 'inc/base_header.html' %}
        <h2 id="page-title"><span>Создание нового пароля</span></h2>
    </header>
{% endblock %}


{% block content %}

<div class="content container">
<div class="row" style="margin-bottom: 200px; margin-top: 160px">
<div class="col-md-6 offset-md-3">
    <form method="POST" class="contact-form row">
        {% csrf_token %}
        {{ form|crispy }}
        <hr>
        <button type="submit" class="btn btn-outline-dark block">Создать новый пароль</button>
        <!-- <a href="" class="text-center mt-3">Забыли пароль? Восстановить</a> -->
    </form>
</div>

</div>
</div>

{% endblock %}
