{% extends 'base.html' %}
{% load static %}

{% block title %}
    Работы мастера
{% endblock %}

{% block header %}
    <header id="master-header" class="full-screen overlayed">
        {% include 'inc/base_header.html' %}
        <h2 id="page-title"><span></span></h2>
    </header>
{% endblock %}


{% block content %}
<div class="section">
    <div class="content container">
        <div class="row">
            {% for work in works %}
            <div class="work col-sm-4">
                <div class="work-thumb">
                    <img src="{{ work.image.url }}" alt="Work 01">
                    <div class="thumb-links">
                        <a class="zoom" href="{{ work.image.url }}"></a>
                    </div>
                </div>
            </div>
            {% endfor %}


         </div>
         <div class="col-md-8">
            {% include 'inc/pagination.html' %}
        </div>
    </div>
</div>
{% endblock %}



